.cart{
    position: sticky;
    top: 0;
    background: gainsboro;
}
.btn-choose-one{
    width: 200px;
    background: #0694f3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 20px;
}
.btn-choose-again{
    width: 200px;
    background: #0694f3;
    border: none;
    border-radius: 0px 0px 8px 8px;
}
.btn-choose-one:hover{
    background-color: tomato;
}
.btn-choose-again:hover{
    background-color: tomato;
}
@media (max-width: 950px) {
}
@media (max-width: 800px) {
  .btn-choose-one {
    margin-left: 35px;
  }
  .btn-choose-again {
    margin-left: 35px;
  }
}